* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  margin: 5px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .form-popup {
    position: relative;
    background-color: #a8c9dd;

    /* float: inline-end; */
  }
  .popup-inner {
    bottom: 0;
    position: absolute;
    background-color: #a8c9dd;
    margin-left: 0;
    width: 100vw;
  }

  #map {
    height: calc(50vh);
  }
}

@media only screen and (min-width: 600px) {
  #app {
    display: flex;
    /* flex-direction: column-reverse; */
  }
}

header {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
  background-color: gray;
  color: #a8c9dd;
  justify-content: center;
}

#map {
  height: calc(100vh - 3rem);
  width: 100vw;
  flex: 3;
  overflow: hidden;
}

.text-input {
  margin: 5px;
  font-size: 12pt;
}

.form-popup {
  width: 25%;
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 5px;
}

p {
  background-color: white;
}
